@media (max-width: 768px) {
    .rz_navbar {
        height: 59px;
    }
    .left_navbar .logo {
        padding-left: 25px;
    }
    .right_navbar .navbar_button{
        display: none;
    }
    .right_navbar .side_menu_button{
        display: flex;
    }
    .right_navbar .side_menu.active{
        display: flex;
    }
    .main_container {
        height: 300px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .main_section {
        height: 300px;
    }
    .main_section .title_1{
        font-size: 37px;
        line-height: 1;
    }
    .main_section .title_2{
        font-size: 15px;
        line-height: 1;
    }
    .main_section .title_3{
        margin-top: 10px; 
        font-weight: bold; 
        font-size: 37px;
        line-height: 1;
    }
    .main_section .left_main {
        padding-left: 8%;
    }
    .main_section .left_main .social_media {
        margin-top: 0.5em;
        display: flex;
        font-size: 1.2em;
    }
    .main_section .left_main .social_media .socmed_container {
        padding: 3px 5px 0px 5px;
        border-radius: 20px;
        width: 30px;
        height: 30px;
        margin-right: 3px;
    }
    .main_section .left_main .social_media .socmed_container span {
        font-size: 16px;
        margin-left: 3px;
    }
    .section_title {
        font-size: 21px;
        height: 35px;
    }
    .section_title .section_line {
        margin-left: 15px;
    }
    .about_section, .skill_section, .contact_section {
        padding-block: 20px;
    }
    .about_section .about_description {
        font-size: 12px;
    }
    .skill_description {
        margin-top: 1em;
    }
    .skill_description img {
        height: 20px;
        margin-right: 9px;
    }
}
